# Maven
target/

# Allure
target/allure-results/
allure-report/

# Logs & Reports
logs/
reports/
screenshots/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store

# Java
*.class
*.log