<suite name="Regression Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.qaproject.tests.LoginTest"/>
            <class name="com.qaproject.tests.AddToCartTest"/>
            <class name="com.qaproject.tests.CheckoutTest"/>
            <class name="com.qaproject.tests.RemoveFromCartTest"/>
        </classes>
    </test>

</suite>